body{
    background-color: #24353f;
}
.box{
    background-color: #24353f;
    width: 50%;
    margin: auto;
    
}
.input1{
    background-color: transparent;
}
.signup{
    text-decoration: none;
    color: #fff;
}
.signup:hover{
    color: #fff;
    text-decoration: underline;
}